Repository omskitop/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

build-backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.20.1-debug
    entrypoint:
    - ''
  script:
  ...

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.20.1-debug
    entrypoint:
    - ''
  script:
  ...

change dockerfiles to start binary go, static from nginx, change static path to /, create docker-compose
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/vue.config.js
Due: build-backend, build-frontend

fix big products images and small refactoring
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: build-backend, build-frontend

add release pipeline stage & fix build image tag
  .gitlab-ci.yml
Due: none

add gitlab SAST & fix job dependencies
  .gitlab-ci.yml
Due: none

add native backend test & ref tests
  .gitlab-ci.yml
Due: none

split pipeline
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend, build-frontend

exclude nodejs-sast from backend
  backend/.gitlab-ci.yml
Due: build-backend

fix readme
  README.md
Due: none

add module pipelines & terraform template pipeline & tf resources
  .gitlab-ci.yml
  infra/.gitlab-ci.yml
  infra/terraform/.gitlab-ci.yml
  infra/terraform/.terraformrc
  infra/terraform/k8s_cluster.tf
  infra/terraform/k8s_node.tf
  infra/terraform/network.tf
  infra/terraform/output.tf
  infra/terraform/provider.tf
  infra/terraform/service_acc.tf
  infra/terraform/varible.tf
Due: none

fix pipeline
  infra/.gitlab-ci.yml
Due: none

fix deprecated tf
  infra/terraform/.gitlab-ci.yml
Due: none

update: pipeline vars, resource descriptions, gitinore
  .gitignore
  infra/terraform/.gitlab-ci.yml
  infra/terraform/.terraform.lock.hcl
  infra/terraform/k8s_node.tf
  infra/terraform/network.tf
  infra/terraform/provider.tf
  infra/terraform/sa.tf
  infra/terraform/varible.tf
Due: none

fix gitlab tf deploy
  infra/terraform/.gitlab-ci.yml
  infra/terraform/provider.tf
Due: none

add tf deploy k8s docs
  README.md
Due: none

group api
  backend/cmd/api/router.go
Due: build-backend

removed dependence on variables and changed nginx config
  frontend/nginx.conf
  frontend/src/services/api.service.ts
  frontend/vue.config.js
Due: build-frontend

fix front api, docs for start and Dockerfiles
  README.md
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/services/api.service.ts
Due: build-backend, build-frontend

fix CI/CD pipelines
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend, build-frontend

refactored CI/CD pipeline
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend, build-frontend

added helm for deploy app to k8s cluster + tls + readme
  infra/helm/momo-store-chart/.helmignore
  infra/helm/momo-store-chart/Chart.yaml
  infra/helm/momo-store-chart/charts/backend/.helmignore
  infra/helm/momo-store-chart/charts/backend/Chart.yaml
  infra/helm/momo-store-chart/charts/backend/templates/deployment.yaml
  infra/helm/momo-store-chart/charts/backend/templates/secrets.yaml
  infra/helm/momo-store-chart/charts/backend/templates/service.yaml
  infra/helm/momo-store-chart/charts/frontend/Chart.yaml
  infra/helm/momo-store-chart/charts/frontend/templates/configmap.yaml
  infra/helm/momo-store-chart/charts/frontend/templates/deployment.yaml
  infra/helm/momo-store-chart/charts/frontend/templates/ingress.yaml
  infra/helm/momo-store-chart/charts/frontend/templates/secrets.yaml
  infra/helm/momo-store-chart/charts/frontend/templates/service.yaml
  infra/helm/momo-store-chart/readme.md
  infra/helm/momo-store-chart/values.yaml.tmpl
Due: none

smallfixed
  infra/helm/momo-store-chart/values.yaml.tmpl
Due: none

fixed readme
  infra/helm/momo-store-chart/readme.md
Due: none

change image source
  backend/cmd/api/dependencies/store.go
Due: build-backend

fix test
  backend/cmd/api/app/app_test.go
Due: build-backend

add helm pipeline & refactor values & smallfixes
  .gitignore
  infra/.gitlab-ci.yml
  infra/helm/.gitlab-ci.yml
  infra/helm/momo-store-chart/.helmignore
  infra/helm/momo-store-chart/Chart.yaml
  infra/helm/momo-store-chart/readme.md
  infra/helm/momo-store-chart/values.yaml.tmpl
Due: none

fix repo in upload-chart
  infra/helm/.gitlab-ci.yml
Due: none

add kubeconfig to deploy jobs
  infra/helm/.gitlab-ci.yml
Due: none

add kubeconfig to before_script
  infra/helm/.gitlab-ci.yml
Due: none

fix kubeconfig in before_script
  infra/helm/.gitlab-ci.yml
Due: none

refactor pipeline & change namespace for app
  infra/helm/.gitlab-ci.yml
Due: none

smallfix pipe and readme
  infra/helm/.gitlab-ci.yml
  infra/helm/momo-store-chart/readme.md
Due: none

add monitoring tools & readme & separated cluster issuer from ingress & refactor
  infra/helm/.gitlab-ci.yml
  infra/helm/momo-store-chart/charts/frontend/templates/clusterissuer.yaml
  infra/helm/momo-store-chart/charts/frontend/templates/ingress.yaml
  infra/helm/momo-store-chart/readme.md
  infra/helm/monitoring-tools/grafana/.helmignore
  infra/helm/monitoring-tools/grafana/Chart.yaml
  infra/helm/monitoring-tools/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  infra/helm/monitoring-tools/grafana/templates/_helpers.tpl
  infra/helm/monitoring-tools/grafana/templates/configmap.yaml
  infra/helm/monitoring-tools/grafana/templates/deployment.yaml
  infra/helm/monitoring-tools/grafana/templates/ingress.yaml
  infra/helm/monitoring-tools/grafana/templates/pvc.yaml
  infra/helm/monitoring-tools/grafana/templates/services.yaml
  infra/helm/monitoring-tools/grafana/values copy.tmpl
  infra/helm/monitoring-tools/prometheus/values copy.tmpl
  infra/helm/monitoring-tools/readme.md
Due: none

fix values template name and set deploy-monitoring to manual
  infra/helm/.gitlab-ci.yml
  infra/helm/monitoring-tools/grafana/values.yaml.tmpl
  infra/helm/monitoring-tools/prometheus/values.yaml.tmpl
Due: none

upgrade readme
  README.md
  infra/helm/momo-store-chart/readme.md
  infra/helm/readme.md
  infra/terraform/readme.md
Due: none

final readme fixes
  infra/helm/monitoring-tools/readme.md
  infra/helm/readme.md
Due: none

fix readme & module-infra
  README.md
  infra/.gitlab-ci.yml
  infra/terraform/readme.md
Due: none

added licence
  LICENCE
Due: none

Path conditions:
  build-backend: any of: backend/**/*
  build-frontend: any of: frontend/**/*
